
<div style="padding: 20px;">
    <span [routerLink]="['/simple']" class="material-icons">
        chevron_left
        </span><label [routerLink]="['/simple']">Vedio</label>
</div>

<div id="sub">
<div  align=center><div style="margin-bottom: 50px;">    <input type="text" id="fname" name="fname"placeholder="Insert URL here"><br></div>
<a style="font-weight: bold; margin-bottom: 30px;">or</a>

</div>
<div > <button style="display:block;width:120px; height:120px;" onclick="document.getElementById('getFile').click()">upload</button>
    <input type='file' id="getFile" style="display:none"></div></div>